
<div>
	<h3>Chat</h3>
	<table>
		<tr ng-repeat="message in messages"
			ng-class="{oddRow : $index%2==0, evenRow : ($index%2==1)}">
			<td style="width: 150px">{{message.time}}</td>
			<td style="width: 120px">{{message.sender}}</td>
			<td style="width: 400px">{{message.message}}</td>
		</tr>
	</table>
	<hr />
	<label for="name">Jmeno</label> <br /> <input id="name"
		ng-model="message.sender" /> <br /> <label for="message">Zprava</label>
	<br />
	<textarea id="message" rows="5" cols="50" ng-model="message.message"></textarea>
    <br /> <input type="submit" ng-click="sendMessage()" />
</div>
