<div>
    <h3>Homepage</h3>
    <form>
        <label for="displayForm" style="display: inline-block">Zobrazit obdelnik</label>
        <input id="displayForm" type="checkbox" ng-model="settings.displayForm" ng-change="submitRules()" />

        <label for="barva" style="display: inline-block">Barva pozadi</label>
        <select ng-model="settings.color" ng-options="color.value as color.label for color in colors" ng-change="submitRules()"></select><br />

        <br />
        <hr />
    </form>
    <div style="width: 800px; height: 20px" ng-style="{'background-color':settings.color}" ng-show="settings.displayForm"></div>
    <hr />
</div>